APP_PORT=
APP_ENV="development"
WEB_URL=""

DATABASE_URL=""
JWT_SECRET=""
MONOBANK_API_URL="https://api.monobank.ua"
MONOBANK_API_TOKEN=""

SEED_ADMIN_NAME=""
SEED_ADMIN_PASSWORD=""
SEED_ADMIN_EMAIL=""
